<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Http Service</title>
    <script src="../3rdparty/angular/angular.min.js"></script>
    <script src="../3rdparty/angular-route/angular-route.min.js"></script>
</head>
<body>
<div class ="container">
    <div ng-app="loginRegisterApp" ng-controller="ServiceController">
    <ul>
        <li ng-repeat="color in colors">
            {{color.Color}}
        </li>
      </ul>
    </div>
 </div>


<!--<script src="../3rdparty/jquery/jquery-1.11.3.min.js"></script>-->
<!--<script src="../3rdparty/bootstrap/js/bootstrap.min.js"></script>-->
</body>
</html>